<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<title></title>
<body>
<nav class="sidebar sidebar-offcanvas" id="sidebar" th:fragment="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Client</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Actualités</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">genre</span>
            </a>
          </li>
        </ul>
      </nav>
</body>
</html>